header img {
    width: 35px;
    position: absolute;
    top: 2em;
    left: 3em;
}

.img-logo {
    text-align: center;
}

.img-logo img {
    width: 25%;
}

/* Bouton Quizz */

.creer-quizz .icon {
    position: relative;
    content: '';
    width: 30px;
    height: 3px;
    background-color: white;
    transition: 0.2s;
    transform: translateY(10px);
}

.creer-quizz .icon::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background-color: white;
    transition: 0.2s;
    transform: translateY(0px) translateX(-15px) rotate(90deg);
}

/* Icones Quizz */

.quizz-grille .quizz svg {
    color: #7964F2;
    width: 35%;
    cursor: pointer;
}

/* Page matiere */

.section-quizz, .section-forum, .section-videos {
    background-color: white;
    height: 15em;
    width: 15em;
    margin: 2em auto;
    border-radius: 100%;
}

/* page profil */

.profil-options {
    background-color: white;
    margin: 1em;
    padding: 1em;
    text-align: center;
    border-radius: 12px;
    font-size: 1.2rem;
}

.photo-de-profil {
    text-align: center;
}

.photo-de-profil img {
    width: 10em;
    height: 10em;
    border-radius: 100%;
}

/* Slider CSS additionnel */

#splide01 > ul, #splide01 > div.splide__arrows > button.splide__arrow.splide__arrow--next, #splide01 > div.splide__arrows > button.splide__arrow.splide__arrow--prev {
    z-index: 0;
}

#splide01 {
    margin: 1em;
}