html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-bottom: 4em;
    padding-top: 6em;
    position: relative;
}

header {
    height: 6em;
    background-color: #E6DFEF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barre de recherche */

.search {
    position: relative;
    height: 60px;
    background: #FFF;
    border-radius: 12px;
    font-family: 'Barlow', sans-serif;
    margin: 1em;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    cursor: pointer;
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #9463AD;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #9463AD;
    transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 0;
    border-radius: 12px;
    font-family: 'Barlow', sans-serif;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #9463AD;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #9463AD;
    transform: rotate(315deg);
}

/* Footer */

footer {
    display: flex;
    background-color: white;
    border-radius: 25px 25px 0 0;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
}

footer img {
    width: 1.5em;
    margin: 0 3em 0 3em;
}

/* Grille Quizz */

div.quizz-grille {
    padding: 1em;
}

.quizz {
    text-align: center;
}

.section-quizz, .section-forum, .section-videos {
    text-align: -webkit-center;
    display: flex;
    place-content: center;
}

.section-quizz svg, .section-forum svg, .section-videos svg {
    width: 50%;
}

.grille-videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 40%;
    margin: 1em;
}

/* Securite et confidentialite */


.section-securite p {
    text-align: center;
    position: relative;
    top: 50%;
}

.grille-videos .g-recaptcha {
    text-align: -webkit-center;
    margin: 1em;
}